.commit-graph-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px;
    border: 1px solid black;
}

.commit-graph-container::-webkit-scrollbar {
    display: none;
}

.commit-graph-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}